.research{
    box-sizing: border-box;
    position: relative;
    .researchIcon{
        position: absolute;
        top:11px;
        left: 10px;
    }
    .searchInput{
        padding-left: 40px;
    }
}
.searchList{
    li{
        float: left;
    }
}
.searchList::after{
    content: "";
    clear:both;
    display: block;
}
.pic{
    img{
        width: 80px;
        height: 100px;
    }
 
}
.useFlower{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin-bottom: 18px;
    font-size: 10px;
}
.price{
    color: #FF0000;
    font-size: 20px;
}