.content {
    background: #f2f2f2;
    box-sizing: border-box;
    padding:0 12px;
}
table {
    width: 100%;
    height: 320px;
    text-align: center;
    .tip-word {
        font-size: 18px;
        color: #949494;
    }
    .go-shopping {
        color: #3399cc;
    }
}
.edit {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #03689a;
}
.flow-list{
    ul{
        background:white;
        position: relative;
        border-bottom:1px solid #c0c0c0;
        box-sizing: border-box;
        padding-bottom: 12px;
        padding-top: 12px;
    }
    ul::after{
        content: "";
        clear:both;
        display: block;
    }
    li{
        float: left;
    }
   
    img{
        padding-left: 10px;
        width: 80px;
        height: 100px;
    }  
    .detail{
        width: 150px;
        padding-top:10px;
        padding-left: 15px;
        h6{
            margin-bottom: 10px;
            font-size: 16px;
            color:	#0000AA;
        }
        .useFlower{
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap; 
           margin-bottom: 18px;
           font-size: 10px;
        }
        .price{
            color: #FF0000;
            font-size: 20px;
        }
    } 
    .layui-btn-size{
        position: absolute;
        top:91px;
        left:195px;
       button{  
           width:30px;       
       }
    }
  
}
.play{
    margin-top: 20px;
    button{
        width:100%;
        border-radius: 20px;
    }
}
.check{
    width:50px;
    padding-left: 10px;
    height: 100px; 
    line-height: 100px;
    span{
        display: block;
        width:25px;
        height:100px;
        
       
    }
    .yes{
        background: url("../../assets/yes.png") no-repeat center;    
    }
    .no{
        background: url("../../assets/no.png")no-repeat center;  
    }
}
